*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background: #241E20;
}

.container{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;

    position: relative;
}








/*============Header=================*/

.header{
    width: 100%;
    margin-top: 95px;
}


.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header__link{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 22px;
    line-height: 30px;
    text-decoration: none;

    color: #FFFFFF;

    margin-right: 67px;

    transition: all .2s ease;
}

.header__link:last-child{
    margin-right: 0;
}


.header__link:hover{
    border-bottom: 4px solid #FFFFFF;
}



.header__total{
    display: flex;
    align-items: center;
}

.header__basket{
    cursor: pointer;
}

.total__text{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;

    color: #FFFFFF;

    padding-left: 12px;
    padding-right: 18px;
}




/*============Intro=================*/


.intro{
    width: 100%;
    margin-top: 294px;
    margin-left: auto;
    margin-bottom: 342px;
}

.intro__title{
    font-family: Yellowtail;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 98px;

    color: #FFFFFF;

    margin-bottom: 20px;
}

.intro__quote{
    width: 664px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 30px;

    color: rgba(255, 255, 255, 0.54);
}





/*==========About============*/

.about__inner{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


.background-plus{
    width: 100%;
    max-width: 756px;
    position: absolute;
    left: -100px;
    top: -577px;
    z-index: -2;
}

.title{
    font-family: Yellowtail;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 87px;

    color: #FFFFFF;

    margin-right: 270px;
}

.number2{
    margin-right: 0;
}

.number3{
    margin-right: 0;
    margin-bottom: 58px;
    text-align: center;
}

.number4{
    margin-right: 124px;
    margin-bottom: 40px;
    text-align: right;

}


.about__text{
    width: 430px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 30px;

    color: rgba(255, 255, 255, 0.54);
}

.block1{
    margin-top: 20px;
    margin-bottom: 60px;
    margin-right: 170px;
}

.block2{
    margin-bottom: 92px;
    margin-right: 0;
}

.block3{
    margin-right: 143px;
}




/*==========Services============*/

.services{
    margin-top: 260px;
}

.services__blocks{
    display: flex;
    justify-content: space-between;
    margin-top: 61px;
}

.services__block{
    width: 360px;
}

.sblock1{
    margin-top: 177px;
    
}

.sblock2{
    
}

.sblock3{
    margin-top: 243px;
}


.block__content{
    display: flex;
    justify-content:space-between;
    padding: 12px 20px 0 10px;
    position: relative;
}

.block__img{
    box-shadow: 0px 8px 40px rgba(255, 255, 255, 0.25);
}

.block__charakter{
    padding: 19px 0 0 0;
}

.block__title{
    width: 115px;
    height: 102px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 34px;

    color: #FFFFFF;
}


.line{
    position: absolute;
    bottom: 70px;
    z-index: 3;
    min-width: 136px;
    min-height: 4px;
    background-color: #FFFFFF;
}

.block-value{
    right: 35px;
    bottom: 40px;
}


.block__timer{
    display: flex;
    align-items: center;
    margin-bottom: 13px;
}


.timer__text{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    
    color: #FFFFFF;
    margin-left: 7px;
    margin-top: auto;
}

.block__team{
    display: flex;
    margin-bottom: 67px;

}

.team__text{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    
    color: #FFFFFF;
    margin-left: 7px;
    margin-top: auto;
}


.block__value{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;

    color: #FFFFFF;

    margin-left: 30px;

    cursor: pointer;
}




/*======Animation block==========*/





/*==========Work============*/

.work{
    margin-top: 204px;
}

.galerry{
    display: flex;
}

.galerry__item img{
    display: block;
}

.galerry__item{
    cursor: pointer;
    position: relative;
    margin-right: 10px;
    transition: all 0.2s ease;
}

.search{
    opacity: 0;
    transition: all 0.2s ease;
}

.search__img{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}
    

.galerry__item:hover{
    box-shadow: 0px 5px 40px rgba(255, 255, 255, 0.25);
}

.galerry__item:hover .search{
    opacity: 1;
}

.galerry__item:nth-child(5){
    margin-right: 0;
}

.galerry__item:nth-child(6){
    margin-right: 0;
}

.imgfirst{
    margin-bottom: 10px;
}




/*==========Contact============*/

.contact{
    margin-top: 222px;
    position: relative;
}

.contact__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 49px;
    
}

.contact__form{
    display: flex;
    flex-direction: column;


    overflow: hidden;
}

.contact__form__text{
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    background: #241E20;
    outline: none;
    border: 0;
    border-bottom: 4px solid #FFFFFF;
    padding-bottom: 6px;
    margin-bottom: 25px;

    color: rgba(255, 255, 255, 0.54);
}

#name{
    width: 209px;;
}

#email{
    width: 400px;
}

textarea.contact__form__text::placeholder{
    border-bottom: 4px solid #FFFFFF;
    padding-bottom: 6px;
    width: 170px;
}



textarea.contact__form__text {
    resize: none;
    min-width: 485px;
    height: 165px;
}


.contact__form__btn{
    max-width: 160px;
    padding: 6px 59px 9px 29px;
    background:rgba(255, 255, 255, 0.55);
    border-radius: 4px;

    display: flex;
    align-items: center;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    border: 0;
    cursor: pointer;
    color: #241E20;
    transition: all .1s ease;

    margin-top: 55px;
    margin-left: auto;
    margin-right: 15px;
}

.submit__img{
    margin-left: 16px;
}


.contact__form__btn:hover{
    background: #FFFFFF;
}



/*==========Footer===========*/

.footer{
    margin-top: 167px;
    margin-bottom: 89px;
}

.footer__inner{
    display: flex;
    justify-content: space-between;
    margin: 0 49px;
    align-items: center;
}

.footer__social{
    display: flex;
    flex-direction: column;
}

.social__block{
    display: flex;

}

.social__block:first-child{
    margin-bottom: 27px;
}


.footer__copyright{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;

    color: rgba(255, 255, 255, 0.54);
}


.social__text{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;

    color: rgba(255, 255, 255, 0.54);

    margin-left: 12px;
}

.burger {
    display: none;
    cursor: pointer;
    margin-left: 40px;
    position: relative;
    z-index: 5;
  }
  
  .burger div {
    width: 45px;
    height: 5px;
    background-color: #fff;
    margin: 5px;
  }



/*============Adaptive================*/


@media screen and (min-width:1200px){
    
}


@media screen and (max-width:1199px){
    .container{
        width: 960px;
    }

    .services__blocks{
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
    }

    .services__block{
        margin: 0 60px;
    }


    .sblock1{
        margin-top: 100px;
    }
    .sblock2{
        margin-top: 100px;
    }

    .sblock3{
        margin-top: 100px;
    }

    .galerry{
        flex-wrap: wrap;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }


    .galerry__image{
        width: 424px;
        margin-bottom: 10px;
        
    }
    .gallery__col{
        margin: 0 auto;
    }


    .contact__img{
        display: none;
    }

    .contact__inner{
        justify-content: center;
    }

    .contact__form{
        margin-top: 40px;
    }

    .number4{
        text-align: center;
    }


}

@media screen and (max-width:991px){
    .container{
        width: 720px;
    }

    .sblock1{
        margin-top: 150px;
    }

    .header__nav{
        display: none;
    }

    .header__total{
        display: none;
    }

    .burger{
        display: block;
    }
}

@media screen and (max-width:767px){
    .container{
        width: 540px;
    }

    .footer__copyright{
        font-size: 16px;
    }

    .social__text{
        font-size: 18px;
    }


    .intro__title{
        font-size: 65px;
    }

    .intro__quote{
        width: 500px;
    }

    .number2{
        text-align: center;
    }

    .number1{
        text-align: center;
        margin:0;
    }

    .about__text{
        margin: 40px 0;
    }

    .block3{
        margin: 0;
    }

    .about__inner{
        align-items: center;
    }

    .services{
        margin-top: 150px;
    }

    .intro{
        margin-bottom: 400px;
    }

    
    .background-plus{
        
        left: -100px;
        top: -770px;
        
    }

}

@media screen and (max-width:575px){
    .container{
        width: 100%;
        padding: 0 15px;
    }

    .intro__title{
        font-size: 55px;
    }
    .intro__quote{
        width: 250px;
    }

    .block__img{
        width: 100%;
    }
    .services__block{
        width: 100%;
    }

    .footer__inner{
        display: flex;
        flex-direction: column-reverse;
    }

    .footer__copyright{
        margin-top: 40px;
    }

    .galerry__image{
        width: 200px;
        
    }


    .contact__form__text{
        display: block;
        width: 100%;
        box-sizing: border-box;
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 30px;
        background: #241E20;
        outline: none;
        border: 0;
        border-bottom: 4px solid #FFFFFF;
        padding-bottom: 6px;
        margin-bottom: 25px;
    
        color: rgba(255, 255, 255, 0.54);
    }
    
    #name{
        width: 209px;;
    }
    
    #email{
        width: 250px;
    }
    
    textarea.contact__form__text::placeholder{
        border-bottom: 4px solid #FFFFFF;
        padding-bottom: 6px;
        width: 170px;
    }
    
    
    
    textarea.contact__form__text {
        resize: none;
        min-width: 250px;
        height: 165px;
    }

    .footer__inner{
        
        margin: 0;
        
    }


    .about__text{
        width: 250px;
    }
    

}




